*{
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 203, 222);
    height:100vh;
}
.r{
    padding:10px;
}
input{
    margin: 5px;
    width:40px;
    height:40px;
    outline: none;
    border-radius: 10px;
    font-size: 55px;
    padding:20px;
}
button{
font-size: 30px;
padding: 10px;
border: grey;
border-radius: 20px;
background-color: rgb(97, 124, 124);
cursor: pointer;
}